.hero {
  text-align: center;
  padding: 4em 0;
}
.hero__image {
  max-width: 100%;
}
.menu {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 100%;
  background: rgba(47,53,79,0.9);
  height: 100vh;
  transform: translateY(-50px);
  transition: 0.3s transform, 0.3s opacity;
  will-change: transform;
}
.menu ul {
  padding: 0;
  list-style: none;
}
.menu li {
  border-top: 1px solid var(--grayishBlue);
}
.menu li:last-child a {
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 1em;
  padding: 0.7em;
}
.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 2px;
}
.menu__open {
  user-select: none;
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}
.menu__checkbox {
  display: none;
}
.menu__checkbox:checked ~ .header {
  background: rgba(47,53,79,0.9);
}
.menu__checkbox:checked ~ .header .menu__open {
  background-image: url("../images/icon-close.svg");
}
.menu__checkbox:checked ~ .header .header__logo {
  background: url("../images/logo-bookmark-white.svg") no-repeat center;
}
.menu__checkbox:checked ~ .header .menu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.header {
  background: #fff;
  position: sticky;
  padding: 1em 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s background;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: inline-flex;
  width: 150px;
  height: 40px;
  background: url("../images/logo-bookmark.svg") no-repeat center;
  background-size: contain;
}
.tabs {
  margin-top: 2em;
  border-top: 1px solid var(--grayishBlue);
}
.tabs__link {
  border-bottom: 1px solid var(--grayishBlue);
}
.tabs__content {
  display: none;
}
.tabs__content img {
  max-width: 100%;
}
.tabs__grid {
  margin-top: 4em;
}
.tabs label {
  padding: 1em 0;
  display: block;
  position: relative;
}
.tabs label:after {
  display: none;
  content: "";
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  transform: translateX(50%);
  box-shadow: inset 0 -15px 0 -10px #f00;
}
.tabs input {
  display: none;
}
.tabs input[id="bookmarking"]:checked ~ ul [for="bookmarking"]:after {
  display: block;
}
.tabs input[id="bookmarking"]:checked ~ .tabs__grid #tab-bookmarking {
  display: block;
}
.tabs input[id="searching"]:checked ~ ul [for="searching"]:after {
  display: block;
}
.tabs input[id="searching"]:checked ~ .tabs__grid #tab-searching {
  display: block;
}
.tabs input[id="sharing"]:checked ~ ul [for="sharing"]:after {
  display: block;
}
.tabs input[id="sharing"]:checked ~ .tabs__grid #tab-sharing {
  display: block;
}
.features {
  text-align: center;
}
:root {
  --softBlue: #5368df;
  --softRed: #fa5757;
  --grayishBlue: #9194a1;
  --veryDarkBlue: #252b46;
}
body {
  background: #d3d3d3;
  font-family: 'Rubik', sans-serif;
  color: var(--veryDarkBlue);
  margin: 0;
  font-size: 18px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.is__hidden {
  display: none !important;
  background: #f00;
}
.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1em;
}
.u__h1,
.u__h2 {
  font-size: 2em;
  font-weight: 500;
}
.u__p {
  color: var(--grayishBlue);
  line-height: 1.8;
  font-size: 0.9em;
}
.u__btn {
  background: var(--softBlue);
  color: #fff;
  padding: 1em 1em;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 0.5em;
  border: none;
  margin-left: 0.5em;
  box-shadow: 0 5px 5px -4px var(--softBlue);
}
.u__btn:first-of-type {
  margin: 0;
}
.u__btn.is-gray {
  color: var(--veryDarkBlue);
  background: #f7f7f7;
}
