@import "./menu.styl"

.header
  background: white
  position: sticky
  padding: 1.5em 0
  top: 0
  left: 0
  right: 0
  transition: .3s background
  &__content
    display: flex
    justify-content: space-between
    align-items: center
  &__logo
    display: inline-flex
    width: 150px
    height 40px
    // border: 1px solid red
    background: url(../images/logo-bookmark.svg) no-repeat center
    background-size: contain